.Career {
  .Container {
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 6px;
    margin-top: 10px;
  }

  &-cards {
    border: 1px solid #94A1B1;
    border-radius: 8px;
    width: 320px;
    height: 100%;
    padding: 15px 0px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &-card {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &-text {
    color: $Red-color;
    font-size: 16px;
    font-weight: 700;
    width: 250px;
  }
}