.Career {


  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 6px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }


  button.accordion {
    width: 320px;
    height: 100%;
    border: 1px solid #94A1B1;
    background: #fff;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    color: $Red-color;
    cursor: pointer;
  }

  button.accordion:after {
    content: "\f150";
    font-size: 18px;
    float: right;

  }

  button.accordion.is-open:after {
    content: "\f151";
  }



  .accordion-content {
    color: $Blue-color;
    width: 300px;
    height: 100%;

    padding: 0 20px;
    margin-left: 10px;
    max-height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }



}