.People {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;


  &-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  &-text {
    background: $Blue-color;
    padding: 10px;

    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
    }
  }

  &-frase {
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  @media (min-width: 411px) {}


  @media (min-width: 720px) {

    &-frase {
      line-height: 20px;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &-text {

      p {
        line-height: 23px;
      }
    }

    &-tumbl {
      display: flex;
    }
  }

  @media (min-width: 1440px) {
    &-frase {
      font-size: 25px;
      line-height: 30px;
    }

    &-text {


      p {
        line-height: 25px;
        font-size: 18px;
      }
    }
  }

}