.Photo {

  &-tumblr {
    position: absolute;
    width: 166px;
    height: 260px;
    left: 8px;
    top: 852px;

    h3 {
      position: absolute;
      width: 72px;
      height: 24px;
      left: 46px;
      top: 230px;

      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      text-transform: capitalize;

      color: #fff;
    }

  }

  &-tumblr1 {
    position: absolute;
    width: 166px;
    height: 260px;
    left: 183px;
    top: 852px;

    h3 {
      position: absolute;
      width: 72px;
      height: 24px;
      left: 46px;
      top: 230px;

      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      text-transform: capitalize;

      color: #fff;
    }

  }

  &-tumblr2 {
    position: absolute;
    width: 166px;
    height: 260px;
    left: 8px;
    top: 1120px;

    h3 {
      position: absolute;
      width: 72px;
      height: 24px;
      left: 46px;
      top: 230px;

      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      text-transform: capitalize;

      color: #fff;
    }

  }

  &-tumblr3 {
    position: absolute;
    width: 166px;
    height: 260px;
    left: 183px;
    top: 1120px;

    h3 {
      position: absolute;
      width: 72px;
      height: 24px;
      left: 46px;
      top: 230px;

      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      text-transform: capitalize;

      color: #fff;
    }

  }
}