.Photo {
  margin-top: 30px;

  .Container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &-image {
    position: relative;
  }

  &-title {
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    top: 210px;
    left: 45px;
    color: #fff;
  }

  @media (min-width: 720px) {
    .Container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    &-title {
      top: 225px;
    }
  }

  @media (max-width: 1440px) {
    .Container {
      justify-content: center;


    }
  }
}