$Blue-color: #0D162F;
$Grey-color: #94A1B1;
$Blue-light: #1750B9;
$Red-color: #EE0505;

$Container: 980px;


.Container {
  max-width: $Container;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Roboto';
}